<html>
	<head>
	<style type="text/css">
	</style>
	<style type="text/css">
		body {
			background-image: url('https://www.gallatin.k12.ky.us/docs/district/icons/6000795_coronagerms%20(1).jpg?id=8063');
			background-repeat: no-repeat;
			background-attachment: fixed;
  			background-size: cover; 
		}
		h1{
			color: #FFFFFF;
			font-size: 3.5vw
		}
		#covidout{
			color: #FFFFFF;
			font-size: 5vw;
			margin-top: 10%;
			font-size: 0.3vw;
			margin-left: 20%;
		}
	</style>
	<script type="text/javascript">
		
		function loadpage(time)
		{
		setTimeout("location.reload(true);",time);
		} 
	</script>
		<body onload="Javascript: loadpage(5000)">
			<h1> Smart Covid-19 Tracker</h1>
			<div class="info" id="covidout" style=" font-size: 4vw; margin-top: 10%; margin-left:45%;"> Waiting for Alexa's Response
		
		</body>
</html>

